.color_linear {
  background: -webkit-linear-gradient(left, #ffa620, #ffe958);
  background: -o-linear-gradient(right, #ffa620, #ffe958);
  background: -moz-linear-gradient(right, #ffa620, #ffe958);
  background: linear-gradient(to right, #ffa620, #ffe958);
  &:active {
    opacity: 0.8
  }
}
